* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Vazirmatn, sans-serif;
}

:root {
  --mainColor: #29335c;
  --mainColorLight: #5767aa;
  --secondaryColor: #db2b39;
  --textColor: #eee;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

ul,
ol {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

p {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin: 0px;
}

/* --------------------------- */
/* ----- Navigation Bar ------ */
/* --------------------------- */
header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  padding: 0 2rem;
  /* background-color: var(--mainColor); */
  color: var(--textColor);
}

nav a {
  margin: 0 1rem;
  color: black;
  text-decoration: none;
}

nav a:hover {
  color: var(--secondaryColor);
}

header .nav-btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: black;
  visibility: hidden;
  opacity: 0;
  font-size: 1.8rem;
}

header div,
nav {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 1024px) {
  header .nav-btn {
    position: absolute;
    right: 16px;
    visibility: visible;
    opacity: 1;
  }

  header nav {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: var(--mainColor);
    transition: 0.5s;
    transform: translateX(100vh);
    z-index: 2;
  }

  header nav a {
    margin: 0 1rem;
    color: var(--textColor);
    text-decoration: none;
  }

  header .responsive_nav {
    transform: none;
  }

  nav .nav-close-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }

  nav a {
    font-size: 1rem;
  }
}

/* Home--------------------------------------------------------- */

.Home_Products_container {
  width: 100%;
  min-height: 60vh;
  background-image: linear-gradient(210deg, #fb8e2a, #fdc154);

  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
}

.Home_Products_container .box {
  position: relative;
  width: 22rem;
  height: 25rem;
  margin: 2rem;
}

.Home_Products_container .box:hover .imgBox {
  transform: translate(0, -3.5rem);
}

.Home_Products_container .box:hover .content {
  transform: translate(0, 3.5rem);
}

.imgBox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  transition: all 0.5s ease-in-out;
}

.imgBox img {
  width: 22rem;
  height: 25rem;
  resize: both;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  background-color: #fff;
  z-index: 1;
  align-items: flex-end;
  text-align: center;
  transition: 0.5s ease-in-out;
}

.content h2 {
  display: block;
  font-size: 2rem;
  color: #111;
  font-weight: 500;
  line-height: 2rem;
  letter-spacing: 1px;
}

.content span {
  color: #555;
  font-size: 1.4rem;
  font-weight: 300;
  letter-spacing: 2px;
}

@media (max-width: 640px) {
  .Home_Products_container .box:hover .content {
    transform: translate(0, 2.5rem);
  }
  .Home_Products_container .box:hover .imgBox {
    transform: translate(0, -2.5rem);
  }

  .content h2 {
    display: block;
    font-size: 1rem;
    color: #111;
    font-weight: 400;
    line-height: 1rem;
    letter-spacing: 1px;
  }

  .content span {
    color: #555;
    font-size: 0.8rem;
    font-weight: 300;
    letter-spacing: 2px;
  }

  .imgBox img {
    width: 100%;
    height: 25rem;
    /* object-fit: cover; */
    resize: both;
  }
}

/* NextCards Home  */
.paper_container_Home {
  background-image: linear-gradient(-45deg, #eef0f3 0%, #f6f5f3 100%);
  font-size: 62.5%;
  user-select: none;
  transition: 0.3s ease;
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-wrap: wrap;
}

.paper_Home {
  margin: 6vh auto;
  min-width: 20vw;
  max-width: 60vh;
  min-height: 20vh;
  border-radius: 4px;
  box-shadow: 0 15px 35px rgba(50, 50, 90, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
  transition: 0.6s ease;
  background: white;
  text-align: center;
  border-radius: 1rem;
}

.paper_Home:hover {
  box-shadow: 0 18px 35px rgba(50, 50, 90, 0.1), 0 8px 15px rgba(0, 0, 0, 0.07);
  transform: translateY(-1px);
}

.paper_Home img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 1rem 1rem 0 0;
}

.poster_Home {
  border-radius: 4px 4px 0 0;
  margin-bottom: 1vh;
}

.paper_Home h1 {
  font-size: 2.6rem;
  /* letter-spacing: 1px; */
  margin: 1vh 2vw;
}

.paper_Home h2 {
  font-size: 0.4rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 10px;
}

.paper_Home hr {
  width: 40%;
  margin-top: 3vh;
  margin-bottom: 3vh;
  border: 0;
  border-bottom: 1px solid #000000;
}

.paper_Home p {
  margin: 1vh 4vw;
  text-align: center;
  padding-bottom: 1vh;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 1.25rem;
}

.paper_Home .btn,
.paper_Home a.btn {
  display: inline-block;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
  line-height: 20px;
  border-radius: 4px;
  padding: 1vh 2vh;
  letter-spacing: 0.02rem;
  background: #664ef7;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 0.8rem;
  box-shadow: 0 0px 0px rgba(48, 51, 54, 0.1), 0 0px 0px rgba(0, 0, 0, 0);
}

.paper_Home .btn,
.paper_Home a.btn:hover {
  background: #7c66ff;
  box-shadow: 0 7px 14px rgba(48, 51, 54, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
  transform: translateY(-1px);
}

.paper_Home .btn,
.paper_Home a.btn:active {
  box-shadow: 0 4px 6px rgba(48, 51, 54, 0.1), 0 1px 3px rgba(0, 0, 0, 0.12);
  transform: translateY(1px);
}

.paper_Home .space {
  height: 4vh;
}

/* Site Home  */

.site .aboutus_container .img_Home {
  height: 500px;
  width: 100%;
  background: url("https://s2.uupload.ir/files/a702e208-82ca-4d44-92ee-b6db83734236_tg1k.jpg");
  background-position: center;
  background-size: cover;
}

/* CONTACT Home  */

.contact_container,
h4,
p {
  color: var(--textColor);
}

.contact_area {
  position: relative;
  z-index: 5;
  background-image: url(https://assets.codepen.io/1920639/contact_bg.jpg);
  padding-top: 1rem;
}

.contact_area::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(43, 42, 61, 0.9);
  z-index: -1;
}

p.form-message.success,
p.form-message.error {
  font-size: 16px;
  color: #2b2a3d;
  background: #f9f9f9;
  padding: 10px 15px;
  margin-top: 30px;
  background-color: #fff;
  margin-left: 15px;
}

p.form-message.success.form-message.error,
p.form-message.error.form-message.error {
  color: #f00;
}

.single_form {
  margin-top: 30px;
}

.single_form input,
.single_form textarea {
  width: 100%;
  height: 55px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  padding: 0 25px;
  font-size: 16px;
  color: #fff;
  background: none;
  transition: all 0.3s ease-out 0s;
}

.single_form input:focus,
.single_form textarea:focus {
  border-color: #fff;
}

.single_form textarea {
  height: 170px;
  resize: none;
  padding-top: 15px;
}

.main-btn_submit {
  display: inline-block;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
  line-height: 20px;
  border-radius: 4px;
  padding: 1vh 2vh;
  letter-spacing: 0.02rem;
  background: #664ef7;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 0.8rem;
  box-shadow: 0 0px 0px rgba(48, 51, 54, 0.1), 0 0px 0px rgba(0, 0, 0, 0);
}

/*======================================================*/
/* Products Page  */

.products_container {
  /* background-color: aqua; */
  width: 99%;
}

.products_container h1,
h2,
h3,
h4,
p,
ul,
li {
  color: #020202;
}

/* ------------- */
/* Content Style */
/* ------------- */

.main-card {
  position: relative;
  width: 90%;
  height: 470px;
  margin: 20px;
  border-radius: 10px;
  font-family: "neuzeit-grotesk", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1em;
  line-height: 1.5;
  color: #303336;
  background-color: #fff;
  box-shadow: 0 40px 40px -20px #8fc7d544;
  margin: auto;
  border: 1px solid black;
}

.main-card .card-content {
  position: relative;
  display: flex;
  margin: auto;
  width: 100%;
  height: 100%;
  padding: 50px;
  gap: 1rem;
}

.main-card .content-left {
  position: relative;
  width: 500px;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  background-color: #f6f6f6;
}

.main-card .content-left img {
  width: inherit;
  height: inherit;
  object-fit: cover;
  object-position: center;
}

.main-card .content-right {
  position: relative;
  width: calc(100% - 300px);
  height: 100%;
  padding-left: 35px;
}

.main-card .tag {
  position: relative;
  left: 100%;
  transform: translateX(-100%);
  width: fit-content;
  padding: 8px 25px;
  border-radius: 10px;
  background-color: #005aee;
}

.main-card .tag h6 {
  color: #fff;
  font-size: 0.75em;
  font-weight: 700;
  letter-spacing: 2px;
}

.main-card .mini-imgs {
  position: absolute;
  display: flex;
  bottom: 0;
  height: 105px;
}

.main-card .mini-imgs img {
  width: 105px;
  height: 105px;
  border-radius: 10px;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
  transition: 300ms;
}

.main-card .mini-imgs img:hover {
  opacity: 0.75;
}

.main-card .mini-imgs img:nth-child(2) {
  margin: 0 10px;
}

/* Display this style when screen-width is lower than 992px */
@media only screen and (max-width: 640px) {
  main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: auto;
    min-height: 100vh;
  }

  .main-card {
    position: relative;
    width: 90%;
    height: auto;
    margin: 80px 20px;
  }

  .main-card .card-content {
    flex-direction: column;
  }

  .main-card .content-left {
    width: 100%;
    height: 300px;
  }

  .main-card .content-right {
    width: 100%;
    height: auto;
    padding: 175px 0 0;
  }

  .main-card .mini-imgs {
    position: absolute;
    display: flex;
    top: 0;
    margin-top: 35px;
    height: 105px;
  }

  .main-card p {
    font-size: 9px;
  }
}

/* Display this style when screen-width is lower than 500px */
@media only screen and (max-width: 640px) {
  .main-card {
    margin: 120px 20px;
  }

  .main-card .card-content {
    padding: 25px;
  }

  .main-card .content-right {
    width: 100%;
    height: auto;
    padding: 115px 0 0;
  }

  .main-card .mini-imgs {
    margin-top: 20px;
  }

  .main-card .mini-imgs img {
    width: 60px;
    height: 60px;
  }
}

/* Just Copy The Code Above */
/* ======================== */

/* ----------- */
/* UI Designer */
/* ----------- */

.designer {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 400;
  color: #46a2b9;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
}

.designer a {
  text-decoration: none;
  color: #23515d;
}

/* NewLine -------------------------------------------------*/

section.module.parallax div.container {
  max-width: 960px;
  /* margin: 0 auto; */
}

section.module.parallax {
  height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

section.module.parallax-1 {
  background-image: url("https://s2.uupload.ir/files/photo-2022-05-21-10-23-49_1xl8.jpg");
}

section.module.parallax-2 {
  background-image: url("https://s2.uupload.ir/files/photo-2022-05-25-11-20-13_javf.jpg");
}

section.module.parallax-3 {
  background-image: url("https://s2.uupload.ir/files/photo-2022-05-29-10-15-24_bj4r.jpg");
}

section.module.parallax-4 {
  background-image: url("https://s2.uupload.ir/files/photo-2022-05-30-12-25-57_81d3.jpg");
}

section.module.parallax-5 {
  background-image: url("https://s2.uupload.ir/files/photo-2022-06-05-11-32-44_1ey.jpg");
}

section.module.parallax-6 {
  background-image: url("https://s2.uupload.ir/files/photo-2022-06-19-15-58-22_fgi.jpg");
}

section.module.parallax-7 {
  background-image: url("https://s2.uupload.ir/files/photo-2022-06-19-15-58-58_3wnm.jpg");
}

section.module.parallax-8 {
  background-image: url("https://s2.uupload.ir/files/photo-2022-06-27-12-07-43_jo3y.jpg");
}
section.module.parallax-9 {
  background-image: url("https://s2.uupload.ir/files/photo-2022-06-27-12-07-48_0k8m.jpg");
}

section.module.parallax-10 {
  background-image: url("https://s2.uupload.ir/files/photo-2022-07-04-10-44-36_ke86.jpg");
}

section.module.parallax-11 {
  background-image: url("https://s2.uupload.ir/files/photo-2022-08-17-09-43-08_2_bsh5.jpg");
}

section.module.parallax-12 {
  background-image: url("https://s2.uupload.ir/files/photo-2022-08-17-09-43-11_rtpp.jpg");
}

.other-section {
  height: 150px;
}

.cd {
  background: repeating-linear-gradient(135deg, rgba(255, 255, 255, 0.05), rgba(0, 0, 0, 0.1) 10%)
      center fixed,
    /* url("https://images.unsplash.com/photo-1632829754530-d94a588e2dde") no-repeat center fixed; */
      url("https://s2.uupload.ir/files/a702e208-82ca-4d44-92ee-b6db83734236_tg1k.jpg") no-repeat
      center fixed;
  background-size: cover;
  height: 600px;
  width: 100%;
}

.slide {
  position: relative;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* letter-spacing: 0.2em; */
  color: white;
  box-shadow: 0 0 5px 1px black;
  background-size: cover;
  background-position: center;
  /* background-image: url("https://i.loli.net/2019/11/23/cnKl1Ykd5rZCVwm.jpg"); */
  background: #111;
}

.Newline_divider {
  margin-top: 1rem;
  /* background-color: #005aee; */
  background-image: linear-gradient(210deg, #fb8e2a, #fdc154);
}

.Newline_divider img {
  padding: 2rem;
  display: flex;
  margin: auto;
  height: 30vh;
}

@media only screen and (max-width: 640px) {
  section.module.parallax div.container {
    max-width: 960px;
    margin: 0 auto;
  }

  section.module.parallax {
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    height: 70vh;
    /* width: 100%;
    max-width: 400px;
    min-height: 30vh;
    height: auto; */
    /* max-inline-size: 100%;
    block-size: auto; */
    /* background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; */
    /* background-size: cover; */
    /* object-fit: cover; */
  }
}

/* Error -------------------------------------------------*/

/* Footer -------------------------------------------------*/

.footer_container {
  display: grid;
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
  place-items: center;
  background: linear-gradient(315deg, #3e3b3b, #020202);
  margin: auto;
}
.wrapper {
  display: inline-flex;
  list-style: none;
}

.wrapper .icon {
  position: relative;
  background: #ffffff;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #1877f2;
  color: #ffffff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background: #1da1f2;
  color: #ffffff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #e4405f;
  color: #ffffff;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background: #333333;
  color: #ffffff;
}

.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
  background: #cd201f;
  color: #ffffff;
}

@media (max-width: 640px) {
  .wrapper .icon {
    position: relative;
    background: #ffffff;
    border-radius: 50%;
    padding: 10px;
    margin: 8px;
    width: 30px;
    height: 30px;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
}

/* ------ Contact us -------------------------------------- */

.contactus_container {
  font-weight: 100;
  font-size: 12px;
  line-height: 30px;
  color: #777;
  background: #4caf50;

  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

#contactus input[type="text"],
#contactus input[type="email"],
#contactus input[type="tel"],
#contactus input[type="url"],
#contactus textarea,
#contactus button[type="submit"] {
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#contactus {
  background: #f9f9f9;
  padding: 25px;
  margin: 150px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contactus h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

#contactus h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contactus input[type="text"],
#contactus input[type="email"],
#contactus input[type="tel"],
#contactus input[type="url"],
#contactus textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #fff;
  margin: 0 0 5px;
  padding: 10px;
}

#contactus input[type="text"]:hover,
#contactus input[type="email"]:hover,
#contactus input[type="tel"]:hover,
#contactus input[type="url"]:hover,
#contactus textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contactus textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contactus button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #4caf50;
  color: #fff;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#contactus button[type="submit"]:hover {
  background: #43a047;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contactus button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

#contactus input:focus,
#contactus textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}

/* ------ AboutUs -------------------------------------- */

.main-section {
  display: flex;
  margin: auto;
  justify-content: center;
  flex-wrap: wrap;
  background-image: linear-gradient(210deg, #fb8e2a, #fdc154);
}
.cardleft {
  width: 500px;
  height: 60vh;
  /* border: 1px solid #ccc; */
  border-radius: 8px;
  /* background: #fff; */
  box-sizing: border-box;
  margin: 16px;
  display: flex;
  justify-content: center;
}

.cardleft img {
  display: flex;
  margin: auto;
  max-width: 480px;
  height: auto;
  border-radius: 2rem;
}
.cardright {
  width: 640px;
  height: 60vh;
  /* border: 1px solid #ccc; */
  border-radius: 8px;
  /* background: #fff; */
  box-sizing: border-box;
  margin: 16px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.aboutus_container {
  background-image: linear-gradient(210deg, #fb8e2a, #fdc154);
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.aboutus_container .left {
  flex: 1;
  background-color: #005aee;
}

.aboutus_container .left img {
  display: flex;
  margin: auto;
  width: 50%;
}
.aboutus_container .right {
  flex: 1;
  background-color: #23515d;
}

div.site {
  background-color: #f2f2f2;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(210deg, #fb8e2a, #fdc154);
}

div.aboutus_container {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 30px;
  box-shadow: 0 8px 16px rgba(black, 0.45);
}

div.img {
  height: 300px;
  width: 100%;
  background-image: url("https://s2.uupload.ir/files/a702e208-82ca-4d44-92ee-b6db83734236_tg1k.jpg");
  background-position: center;
  background-size: cover;
}

div.text-container {
  margin: 60px 45px 55px;
}

.site .btn,
.site a.btn {
  display: inline-block;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
  line-height: 20px;
  border-radius: 4px;
  padding: 1vh 2vh;
  letter-spacing: 0.02rem;
  background: #664ef7;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 0.8rem;
  box-shadow: 0 0px 0px rgba(48, 51, 54, 0.1), 0 0px 0px rgba(0, 0, 0, 0);
}

.site .btn,
.site a.btn:hover {
  background: #7c66ff;
  box-shadow: 0 7px 14px rgba(48, 51, 54, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
  transform: translateY(-1px);
}

.site .btn,
.site a.btn:active {
  box-shadow: 0 4px 6px rgba(48, 51, 54, 0.1), 0 1px 3px rgba(0, 0, 0, 0.12);
  transform: translateY(1px);
}

@media screen and (min-width: 768px) {
  div.aboutus_container {
    flex-direction: row;
    width: 100%;
  }

  div.img {
    height: 420px;
    min-width: 360px;
  }

  div.text-container {
    margin: 0 60px;
    max-width: 660px;
  }
}

@media screen and (min-width: 1024px) {
  div.aboutus_container {
    max-width: 1200px;
  }
}

@media screen and (min-width: 1200px) {
}

/* Next Card -------- */

.paper_container {
  background-image: linear-gradient(-45deg, #eef0f3 0%, #f6f5f3 100%);
  font-size: 62.5%;
  user-select: none;
  transition: 0.3s ease;
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-wrap: wrap;
}

.paper {
  margin: 10vh auto;
  min-width: 20vw;
  max-width: 60vh;
  min-height: 20vh;
  border-radius: 4px;
  box-shadow: 0 15px 35px rgba(50, 50, 90, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
  transition: 0.6s ease;
  background: white;
  text-align: center;
  border-radius: 1rem;
}

.paper:hover {
  box-shadow: 0 18px 35px rgba(50, 50, 90, 0.1), 0 8px 15px rgba(0, 0, 0, 0.07);
  transform: translateY(-1px);
}

.paper img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 1rem 1rem 0 0;
}

.poster {
  border-radius: 4px 4px 0 0;
  margin-bottom: 2vh;
}

.paper h1 {
  font-size: 2.6rem;
  /* letter-spacing: 1px; */
  margin: 1vh 2vw;
}

.paper h2 {
  font-size: 0.4rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 10px;
}

.paper hr {
  width: 40%;
  margin-top: 3vh;
  margin-bottom: 3vh;
  border: 0;
  border-bottom: 1px solid #000000;
}

.paper p {
  margin: 1vh 4vw;
  text-align: center;
  padding-bottom: 1vh;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 1.25rem;
}

.paper .btn,
.paper a.btn {
  display: inline-block;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
  line-height: 20px;
  border-radius: 4px;
  padding: 1vh 2vh;
  letter-spacing: 0.02rem;
  background: #664ef7;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 0.8rem;
  box-shadow: 0 0px 0px rgba(48, 51, 54, 0.1), 0 0px 0px rgba(0, 0, 0, 0);
}

.paper .btn,
.paper a.btn:hover {
  background: #7c66ff;
  box-shadow: 0 7px 14px rgba(48, 51, 54, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
  transform: translateY(-1px);
}

.paper .btn,
.paper a.btn:active {
  box-shadow: 0 4px 6px rgba(48, 51, 54, 0.1), 0 1px 3px rgba(0, 0, 0, 0.12);
  transform: translateY(1px);
}

.paper .space {
  height: 4vh;
}
