.footer {
  position: relative;
  z-index: 1;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  //   background-color: #000;

  span {
    display: block;
  }
}
$card-height: 90vh;
$card-length: 5;
$class-name: cards_wrap;
.#{$class-name} {
  &__card {
    h2 {
      font-size: 3vw;
      text-align: center;
      margin-top: 35rem;

      span {
        margin-top: 1rem;
        display: block;
        font-size: 1rem;
        font-weight: normal;
      }
    }

    &-stick {
      top: 2rem;
      position: sticky;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      //   border-radius: 2rem;
      background-position: center;
      background-image: url("https://s2.uupload.ir/files/a702e208-82ca-4d44-92ee-b6db83734236_tg1k.jpg");
      background-size: cover;
      height: $card-height;

      &.color2 {
        background-image: url("https://images.unsplash.com/photo-1654493403997-bc6364a78b6e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3264&q=80");
      }
      &.color3 {
        background-image: url("https://images.unsplash.com/photo-1669634941363-a7276fe0fb6d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3264&q=80");
      }
      &.color4 {
        background-image: url("https://images.unsplash.com/photo-1676804957757-5f85e53f608d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1635&q=80");
      }
      &.last {
        background-image: url("https://images.unsplash.com/photo-1676731820466-00219017ab07?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1635&q=80");
      }
    }

    @for $i from 1 through $card-length {
      &:nth-child(#{$i}) {
        @if $i > 1 {
          margin-top: -$card-height * (($card-length - $i) + 1);
        }
        height: $card-height * ($card-length - $i) + $card-height;
      }
    }
  }
}
