.footer {
  position: relative;
  z-index: 1;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;

  span {
    display: block;
  }
}

$card-height: 90vh;
$card-length: 5;
$class-name: cards_wrap;
.#{$class-name} {
  &__card {
    h2 {
      font-size: 3vw;
      text-align: center;
      margin-top: 29rem;

      span {
        margin-top: 1rem;
        display: block;
        font-size: 1rem;
        font-weight: normal;
      }
    }

    &-stick {
      top: 0rem;
      // top: 3rem;
      position: sticky;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      background-image: url("https://s2.uupload.ir/files/a702e208-82ca-4d44-92ee-b6db83734236_tg1k.jpg");
      background-position: center;
      // background-size: cover;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      height: $card-height;

      &.color2 {
        background-image: url("https://s2.uupload.ir/files/ganga_papers_z6ja.jpg");
      }
      &.color3 {
        background-image: url("https://s2.uupload.ir/files/image_iws9.jpg");
      }
      &.color4 {
        background-image: url("https://s2.uupload.ir/files/o_1gc1dnlji87i197r1f3d1160e9ge_7i2d.jpg");
      }
      &.last {
        background-image: url("https://s2.uupload.ir/files/o_1gc1dnlji2n418ksh4u14lhsspi_6dgp.jpg");
      }
    }

    @for $i from 1 through $card-length {
      &:nth-child(#{$i}) {
        @if $i > 1 {
          margin-top: -$card-height * (($card-length - $i) + 1);
        }
        height: $card-height * ($card-length - $i) + $card-height;
      }
    }
  }
}
