* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Vazirmatn, sans-serif;
}

:root {
  --mainColor: #29335c;
  --mainColorLight: #5767aa;
  --secondaryColor: #db2b39;
  --textColor: #eee;
}

/* --------------------------- */
/* ----- Navigation Bar ----- */
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 2rem 2rem;
}

nav a {
  margin: 0 1rem;
  color: black;
  text-decoration: none;
  font-size: 1rem;
}

nav a:hover {
  color: var(--secondaryColor);
}

.active {
  color: "#000000";
  background: "#ffffff";
}
