* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Vazirmatn, sans-serif;
}

:root {
  --mainColor: #29335c;
  --mainColorLight: #5767aa;
  --secondaryColor: #db2b39;
  --textColor: #eee;
}

/* --------------------------- */
/* ----- Navigation Bar ------ */
/* --------------------------- */
header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  padding: 0 2rem;
  /* background-color: var(--mainColor); */
  color: var(--textColor);
}

nav a {
  margin: 0 1rem;
  color: black;
  text-decoration: none;
}

nav a:hover {
  color: var(--secondaryColor);
}

header .nav-btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: black;
  visibility: hidden;
  opacity: 0;
  font-size: 1.8rem;
}

header div,
nav {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 1024px) {
  header .nav-btn {
    position: absolute;
    right: 16px;
    visibility: visible;
    opacity: 1;
  }

  header nav {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: var(--mainColor);
    transition: 1s;
    transform: translateX(100vh);
    z-index: 1;
  }

  header nav a {
    margin: 0 1rem;
    color: var(--textColor);
    text-decoration: none;
  }

  header .responsive_nav {
    transform: none;
  }

  nav .nav-close-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }

  nav a {
    font-size: 1rem;
  }
}

/* Home--------------------------------------------------------- */

/* NewLine -------------------------------------------------*/

section.module.parallax div.container {
  max-width: 960px;
  margin: 0 auto;
}

section.module.parallax {
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

section.module.parallax-1 {
  background-image: url("https://www.cssscript.com/demo/pure-css-parallax-background-images/img/gCanyon.jpg");
}

section.module.parallax-2 {
  background-image: url("https://www.cssscript.com/demo/pure-css-parallax-background-images/img/rMountains.jpg");
}

section.module.parallax-3 {
  background-image: url("https://www.cssscript.com/demo/pure-css-parallax-background-images/img/niagra.jpg");
}

section.module.parallax-4 {
  background-image: url("https://www.cssscript.com/demo/pure-css-parallax-background-images/img/gCanyon.jpg");
}

.other-section {
  height: 150px;
}

.cd {
  background: repeating-linear-gradient(135deg, rgba(255, 255, 255, 0.05), rgba(0, 0, 0, 0.1) 10%)
      center fixed,
    url("https://images.unsplash.com/photo-1632829754530-d94a588e2dde") no-repeat center fixed;
  background-size: cover;
  height: 600px;
  width: 100%;
}

.slide {
  position: relative;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.2em;
  color: white;
  box-shadow: 0 0 5px 1px black;
  background-size: cover;
  background-position: center;
  background-image: url("https://i.loli.net/2019/11/23/cnKl1Ykd5rZCVwm.jpg");
  background: #111;
}

/* Error -------------------------------------------------*/
